.Logo {
    background-image: radial-gradient(#b28c1c97,#b28c1c63, transparent,transparent); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    width: 100vw;
    height:80vh;
    align-items: center;
}
.logoChar{
    cursor: pointer;
    font-size: 7vw;
    color: white;
    text-shadow: 3px 3px 3px black, -3px -3px 3px black;
}
.img{
    width: 10vw;
}